<div>
  <h2>Vote for your player of the season</h2>
  <ul>
    <li *ngFor="let player of playerData">
      <img (click)="castVote(player.shortName)" [alt]="player.name" [ngClass]="getVoteClasses(player.shortName)"
           [src]="player.image">
      <h4>{{player.name}}</h4>
      <p>{{player.goals}} goals</p>
      <p>{{player.assists}} assists</p>
    </li>
  </ul>


  <div *ngIf="voted" class="chart-box">
    <h2>How others voted</h2>
    <canvas [chartType]="chartType" [data]="chartData"
            [labels]="chartLabels" baseChart>
    </canvas>
  </div>

</div>


